<h2 style="margin: 25px;">Lista de productos</h2>
{{#if producto}}
    {{#each producto}}
            <div class="card" style="width: 200px; margin: 25px">
                <img src="{{this.img}}" class="card-img-top" alt="{{this.title}}" style="height: 75px; width: 75px; margin: 15px">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">${{this.price}}</p>
                </div>
            </div>
    {{/each}}
    {{else}}
    <h4>No hay productos disponibles</h4>
{{/if}}