<h2 style="margin: 25px;">Lista de productos</h2>
{{#if emptyData}}
    <h4 style="margin: 25px">No hay productos disponibles</h4>
    {{else}}      
        {{#each data}}
            <div class="card" style="width: 200px; margin: 25px">
                <img src="{{this.img}}" class="card-img-top" alt="..." style="height: 75px; width: 75px; margin: 15px">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">${{this.price}}</p>
                    <div>
                        <button type="button" class="btn btn-dark">Editar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        {{/each}}
{{/if}}
<h2 style="margin: 25px;">Ingresar un nuevo producto</h2>
<form action="/productos/" method="POST" style="margin: 25px;">
    <label>Nombre del producto:</label>
    <input type="text" name="title">
    <label>Precio:</label>
    <input type="number" name="price">
    <label>URL imagen:</label>
    <input type="text" name="img">
    <label>Descripción:</label>
    <input type="text" name="description">
    <label>Código:</label>
    <input type="number" name="code">
    <label>Stock</label>
    <input type="number" name="stock">
    <button class="btn btn-success">Enviar</button>
</form>